@font-face {
    font-family: LeJour;
    src: url('Le Jour Serif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Glacial;
    src: url('Glacial Indifference Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(246, 242, 237);  
    margin: 0;
    padding: 0;
    overflow: auto;
}

button {
    align-self: center;
    background-color: rgb(86, 102, 29);
    border: 2px solid;
    border-color: rgb(86, 102, 29);
    color: rgb(246, 242, 237);
    font-family: Glacial, sans-serif;
    font-size: 22px;
    margin: 10px 0 10px 0;
    max-width: 15%;
    transition: 0.4s;
}

button:hover {
    border: 2px solid;
    border-color: rgb(86, 102, 29);
    background-color: rgb(246, 242, 237);
    color: rgb(86, 102, 29);
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
    top: 0%;
    width: 100%;
}

#footer {
    align-self: center;
    color: black;
    font-family: Glacial, sans-serif;
    margin: 10px 0 0 0;
    text-align: center;;
}

form {
    align-self: center;
    margin: 20px 0 5px 0;
    padding: 0;
    min-height: 25px;
    min-width: 250px;
    max-width: 300px;
}

h1 {
    align-self: center;
    color: rgb(246, 242, 237);  
    font-size: 112px;
    font-family: LeJour, sans-serif;
    line-height: 10rem;
    margin: 0;
    max-width: 90%;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);  
    font-size: 24px;
    font-family: Glacial, sans-serif;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
}

#hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 90vh;
    max-width: 100vw;;
    min-width: 100vw;
    filter: contrast(0.4);
}

.input-email {
    justify-self: center;
    color: white;
    background-color: transparent;
    border-color: rgba(255, 64, 64, 0.696);
    border-width: 0 0 2px 0;
    font-family: Glacial, sans-serif;
    height: 100%;
    min-width: 100%;
    outline: none;
    position: relative;
    margin: 0;
    padding: 0;
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-family: Glacial, sans-serif;
    font-size: 18px;
    text-align: left;
}

input:focus-within {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
    caret-color: white;
}

#logo {
    float: left;
    font-family: LeJour;
    display: inline;
    position: relative;
    border-left: none;
}

.navbar {
    background-color: rgb(86, 102, 29);
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    top: 0;
    position: sticky;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: right;
    border-left: 1px solid white;
    display: inline;
}

.navbar a {
    color: rgb(255, 255, 255);
    display: block;
    font-family: Glacial, sans-serif;
    height: 100%;
    padding: 0 15px 0 15px;
    cursor: pointer;
    margin: 0;
}

.navbar img {
    height: 1.2em;
    max-width: 100%;
    margin: 0;
    padding: 0;
    filter: invert(100%);
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.54);
}

p {
    color: white;
    font-family: Glacial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 427px;
    text-align: justify;
}
strong {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 22px;
    text-shadow: 2px 2px 2px black;
}